h1#app-title {
	/*
	font-family: 'Poiret One', cursive;
	font-size: 5rem;

	font-family: 'Merienda', cursive;
	font-size: 5rem;
	*/
	font-family: 'Patrick Hand SC', cursive;
	font-size: 6rem;
	color: #FFFFFF;
}

#secondForm {
    padding: 25px 50px;
}
.container {
	background-color: #8EBCE0;
}

#canvas {
	background-color: #FFFFFF;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	margin-top: 20px;
	cursor: crosshair;
}

#color-picker, #bkgd-color-picker {
	width: 50px;
	height: 40px;
}

input#toolSize {
	width: 100px;
}

button#clearCanvas {
	margin-bottom: 20px;
	margin-top: 40px;
	margin-left: 20px;
}

button#saveCanvas {
	margin-bottom: 20px;
	margin-top: 40px;
	margin-left: 20px;
}

button#undoButton {
	margin-bottom: 20px;
	margin-top: 40px;
}


#imageUpload {
	border-radius: 0px;
}

.nav {
	margin: 10px;
}

#initialForm {
	margin: 10px;
}