.container {
	background-color: #8EBCE0;
}

#canvas {
	background-color: #FFFFFF;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	margin-top: 20px;
}

#color-picker {
	margin-top: 20px;
	margin-left: 20px;
}

.text-muted {
	color: #FFFFFF;
}

#imageUpload {
	border-radius: 0px;
}

.nav {
	margin: 10px;
}

#initialForm {
	margin: 10px;
}